/* BASE */
body {
  margin: 0;
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 5%;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.hero-text {
  flex: 1 1 400px;
  min-width: 280px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text h1 span {
  color: #00f0ff;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.big-text {
  font-size: 4rem;
  opacity: 0.1;
  margin-bottom: 20px;
}

.glow-text {
  animation: glowPulse 2s infinite;
}

@keyframes glowPulse {
  50% {
    text-shadow: 0 0 30px white;
  }
}

/* BUTTONS */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  position: relative;
  padding: 14px 30px;
  border-radius: 40px;
  background: transparent;
  color: rgb(80, 173, 220);
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.btn1 {
  background-color: #231639;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px;
  padding: 2px;
  background: linear-gradient(120deg, #fff, #00f0ff, #8a2be2, #fff);
  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 40px;
  z-index: -1;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:hover::after {
  background: rgba(255, 255, 255, 0.08);
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}

/* LOTTIE */
.hero-lottie {
  flex: 1 1 400px;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

/* CARDS */
.cards {
  padding: 80px 5%;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 60px 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-icons a {
  font-size: 28px;
  color: white;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    
  }

  .hero-content {
    flex-direction: column;
   
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .big-text {
    font-size: 2rem;
  }
}